@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 58px;
  font-weight: 400;
  color: red;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Piazolla", sans-serif;
}

.didILetter {
  font-size: 65px;
  font-weight: normal;
  color: green;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.didDTwoLetter {
  font-size: 60px;
  font-weight: 700;
  color: lightpink;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Piazolla", sans-serif;
}

/* THE word */

.theTLetter {
  font-size: 70px;
  font-weight: bold;
  color: darkorchid;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Piazolla", sans-serif;
}

.theHLetter {
  font-size: 45px;
  font-weight: 400;
  color: yellowgreen;
  text-decoration: linethrough;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.theELetter {
  font-size: 70px;
  font-weight: bold;
  color: indigo;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* FRONT-END word */

.frontendFLetter {
  font-size: 67px;
  font-weight: normal;
  color: indianred;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Piazolla", sans-serif;
}

.frontendRLetter {
  font-size: 62px;
  font-weight: bold;
  color: fuchsia;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Piazolla", sans-serif;
}

.frontendOLetter {
  font-size: 50px;
  font-weight: bold;
  color: firebrick;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.frontendNLetter {
  font-size: 70px;
  font-weight: 400;
  color: forestgreen;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.frontendTLetter {
  font-size: 72px;
  font-weight: 700;
  color: gainsboro;
  text-decoration: overlineline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.frontendELetter {
  font-size: 72px;
  font-weight: bold;
  color: honeydew;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.frontendNTwoLetter {
  font-size: 72px;
  font-weight: bold;
  color: khaki;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.frontendDLetter {
  font-size: 72px;
  font-weight: bold;
  color: orange;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* DEVELOPER word */

.developerDLetter {
  font-size: 72px;
  font-weight: bold;
  color: oldlace;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.developerELetter {
  font-size: 72px;
  font-weight: bold;
  color: olive;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.developerVLetter {
  font-size: 72px;
  font-weight: bold;
  color: aquamarine;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.developerETwoLetter {
  font-size: 72px;
  font-weight: bold;
  color: antiquewhite;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.developerLLetter {
  font-size: 72px;
  font-weight: bold;
  color: brown;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.developerOLetter {
  font-size: 72px;
  font-weight: bold;
  color: burlywood;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.developerPLetter {
  font-size: 72px;
  font-weight: bold;
  color: #5d6d7e;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.developerEThreeLetter {
  font-size: 72px;
  font-weight: bold;
  color: #82e0aa;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.developerRLetter {
  font-size: 72px;
  font-weight: bold;
  color: #5b2c6f;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* TAKE word */

.takeTLetter {
  font-size: 72px;
  font-weight: bold;
  color: #a93226;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.takeALetter {
  font-size: 72px;
  font-weight: bold;
  color: #1b4f72;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.takeKLetter {
  font-size: 72px;
  font-weight: bold;
  color: #d5f5e3;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.takeELetter {
  font-size: 72px;
  font-weight: bold;
  color: #f2d7d5;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* UP word */

.upULetter {
  font-size: 72px;
  font-weight: bold;
  color: #f9e79f;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.upPLetter {
  font-size: 72px;
  font-weight: bold;
  color: #7d6608;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* GARDENING word */

.gardeningGLetter {
  font-size: 72px;
  font-weight: bold;
  color: #212f3d;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.gardeningALetter {
  font-size: 72px;
  font-weight: bold;
  color: #7fb3d5;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.gardeningRLetter {
  font-size: 72px;
  font-weight: bold;
  color: #9b59b6;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.gardeningDLetter {
  font-size: 72px;
  font-weight: bold;
  color: #145a32;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.gardeningELetter {
  font-size: 72px;
  font-weight: bold;
  color: #f57f17;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.gardeningNLetter {
  font-size: 72px;
  font-weight: bold;
  color: #d81b60;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.gardeningILetter {
  font-size: 72px;
  font-weight: bold;
  color: #795548;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.gardeningNTwoLetter {
  font-size: 72px;
  font-weight: bold;
  color: #ffeb3b;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.gardeningGTwoLetter {
  font-size: 72px;
  font-weight: bold;
  color: #9fa8da;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* BECAUSE word */

.becauseBLetter {
  font-size: 72px;
  font-weight: bold;
  color: #827717;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.becauseELetter {
  font-size: 72px;
  font-weight: bold;
  color: #00bcd4;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.becauseCLetter {
  font-size: 72px;
  font-weight: bold;
  color: #c0ca33;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.becauseALetter {
  font-size: 72px;
  font-weight: bold;
  color: #bcaaa4;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.becauseULetter {
  font-size: 72px;
  font-weight: bold;
  color: #6d4c41;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.becauseSLetter {
  font-size: 72px;
  font-weight: bold;
  color: #e57373;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.becauseETwoLetter {
  font-size: 72px;
  font-weight: bold;
  color: #c5e1a5;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* THEY word */

.theyTLetter {
  font-size: 72px;
  font-weight: bold;
  color: #424242;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.theyHLetter {
  font-size: 72px;
  font-weight: bold;
  color: #ccff00;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.theyELetter {
  font-size: 72px;
  font-weight: bold;
  color: #cc9900;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.theyYLetter {
  font-size: 72px;
  font-weight: bold;
  color: #003300;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* WANTED word */

.wantedWLetter {
  font-size: 72px;
  font-weight: bold;
  color: #cc33ff;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.wantedALetter {
  font-size: 72px;
  font-weight: bold;
  color: #669900;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.wantedNLetter {
  font-size: 72px;
  font-weight: bold;
  color: #6633ff;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.wantedTLetter {
  font-size: 72px;
  font-weight: bold;
  color: #99ff33;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.wantedELetter {
  font-size: 72px;
  font-weight: bold;
  color: #0000ff;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.wantedDLetter {
  font-size: 72px;
  font-weight: bold;
  color: #330066;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* TO word */

.toTLetter {
  font-size: 72px;
  font-weight: bold;
  color: #ff00ff;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.toOLetter {
  font-size: 72px;
  font-weight: bold;
  color: #00ffcc;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* IMPROVE word */

.improveILetter {
  font-size: 72px;
  font-weight: bold;
  color: #999933;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.improveMLetter {
  font-size: 72px;
  font-weight: bold;
  color: #990000;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.improvePLetter {
  font-size: 72px;
  font-weight: bold;
  color: #6633cc;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.improveRLetter {
  font-size: 72px;
  font-weight: bold;
  color: #99cc66;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.improveOLetter {
  font-size: 72px;
  font-weight: bold;
  color: #ffff00;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.improveVLetter {
  font-size: 72px;
  font-weight: bold;
  color: #ffff00;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.improveELetter {
  font-size: 72px;
  font-weight: bold;
  color: #993366;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* THEIR word */

.theirTLetter {
  font-size: 72px;
  font-weight: bold;
  color: #009999;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.theirHLetter {
  font-size: 72px;
  font-weight: bold;
  color: #996633;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.theirELetter {
  font-size: 72px;
  font-weight: bold;
  color: #999933;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.theirILetter {
  font-size: 72px;
  font-weight: bold;
  color: #ccffff;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.theirRLetter {
  font-size: 72px;
  font-weight: bold;
  color: #333300;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* ROOT word */

.rootRLetter {
  font-size: 72px;
  font-weight: bold;
  color: #66ccff;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.rootOLetter {
  font-size: 72px;
  font-weight: bold;
  color: #ff0066;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.rootOTwoLetter {
  font-size: 72px;
  font-weight: bold;
  color: #006600;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.rootTLetter {
  font-size: 72px;
  font-weight: bold;
  color: #cc9900;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* SKILLS word */

.skillsSLetter {
  font-size: 72px;
  font-weight: bold;
  color: #00ffcc;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.skillsKLetter {
  font-size: 72px;
  font-weight: bold;
  color: #996666;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.skillsILetter {
  font-size: 72px;
  font-weight: bold;
  color: #ccff99;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.skillsLLetter {
  font-size: 72px;
  font-weight: bold;
  color: #660066;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.skillsLTwoLetter {
  font-size: 72px;
  font-weight: bold;
  color: #999933;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.skillsSTwoLetter {
  font-size: 72px;
  font-weight: bold;
  color: #993399;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* SYMBOLS */

.hyphen {
  font-size: 72px;
  font-weight: bold;
  color: #607d8b;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.exclamation-mark {
  font-size: 72px;
  font-weight: bold;
  color: #ffcdd2;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.question-mark {
  font-size: 72px;
  font-weight: bold;
  color: rgb(163, 82, 96);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
/*font styles*/
.didDLetter,
.frontendRLetter,
.developerVLetter,
.takeALetter,
.gardeningDLetter,
.becauseSLetter,
.theyHLetter,
.wantedTLetter,
.toOLetter,
.improveELetter,
.hyphen {
  font-size: 80px;
  font-weight: 400;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.didILetter,
.frontendOletLetter,
.developerETwoLetter,
.takeTLetter,
.gardeningNLetter,
.becauseETwoLetter,
.theyELetter,
.wantedALetter,
.improveMLetter,
.theirHLetter,
.question-mark {
  font-size: 57px;
  font-weight: bold;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}
.didDTwoLetter,
.frontendTLetter,
.developerLLetter,
.takeKLetter,
.gardeningILetter,
.becauseALetter,
.theyYLetter,
.wantedWLetter,
.improvePLetter,
.rootOTwoLetter,
.exclamation-mark {
  font-size: 65px;
  font-weight: normal;
  text-decoration: overline;
  text-transform: double;
  font-family: "Piazolla", sans-serif;
}
.theTLetter,
.frontendELetter,
.developerRLetter,
.takeELetter,
.gardeningGTwoLetter,
.becauseULetter,
.theyTLetter,
.wantedDLetter,
.improveRLetter,
.skillsKLetter {
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Piazolla", sans-serif;
}
.theHLetter,
.frontendNLetter,
.developerDLetter,
.upULetter,
.gardeningALetter,
.becauseELetter,
.theirTLetter,
.wantedNLetter,
.improveILetter,
.rootTLetter {
  font-size: 62px;
  font-weight: 400;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Piazolla", sans-serif;
}
.theELetter,
.frontendNTwoLetter,
.developerELetter,
.upPLetter,
.gardeningGLetter,
.becauseBLetter,
.theirELetter,
.wantedELetter,
.improveOLetter,
.skillsSLetter {
  font-size: 70px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.frontendFLetter,
.frontendDLetter,
.developerOLetter,
.gardeningELetter,
.becauseCLetter,
.theirILetter,
.toTLetter,
.improveVLetter,
.rootOLetter {
  font-size: 57px;
  font-weight: none;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Piazolla", sans-serif;
}
.developerPLetter,
.gardeningRLetter,
.becauseETwoLetter,
.theirRLetter,
.rootRLetter,
.improveMLetter,
.wantedNLetter {
  font-size: 66px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Piazolla", sans-serif;
}
.developerEThreeLetter,
.gardeningNLetter,
.becauseETwoLetter,
.theyTLetter,
.theirTLetter,
.improveVLetter,
.rootTLetter {
  font-size: 66px;
  font-weight: 400;
  text-decoration: line-through;
  text-transform: capitalize;
  font-family: "Piazolla", sans-serif;
}
.developerETwoLetter,
.gardeningNTwoLetter,
.becauseSLetter,
.theyELetter,
.improveELetter,
.rootRLetter,
.skillsSLetter {
  font-size: 65px;
  font-weight: bold;
  text-decoration: none;
  text-transform: double;
  font-family: "Piazolla", sans-serif;
}
